<div class="wrap faint" style="display: flex; align-items: center;">
  <a href="https://www.stephanango.com" class="plain ssr"><img src="https://kepano.s3.amazonaws.com/avatar.jpeg" width="40px" height="40px" class="round" style="border-radius:50%; border:1.5px solid #dcc3ad;" /></a>
  <a href="https://github.com/kepano/slashpackaging" class="muted ssr" target="_blank">GitHub</a>
  <a href="https://twitter.com/slashpackaging" class="muted ssr" target="_blank">Twitter</a><a href="https://www.instagram.com/slashpackaging" class="muted" target="_blank">Instagram</a>
</div>