<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    <script>
      if (localStorage.theme === 'dark' || (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
        document.querySelector('body').classList.add('theme-dark')
      }
    </script>

    <nav>{% include nav.html %}</nav>

    <div class="wrapper">
      <main>{{ content }}</main>
      <footer>{% include footer.html %}</footer>
    </div>

    <script>
    var darkMode = document.querySelector("#theme-toggle");

    darkMode.addEventListener("click", function () {
      document.body.classList.toggle("theme-dark");

      let theme = "light";
      if (document.body.classList.contains("theme-dark")) {
        theme = "dark";
      }
      localStorage.setItem("theme", theme);
    });
    </script>

    {% comment %}
      {% include link-previews.html wrapperQuerySelector="content" %}
    {% endcomment %}
  </body>
</html>
