---
layout: default
---

<article>
  <div style="max-width: 35em">
    <content>
      {{ content }}
    </content>
  </div>
</article>
<br>

{% assign pages = site.directory | sort: 'title' %}
<table>
  {% comment %}
  <thead>
    <tr>
      <th>Name</th>
      <th>URL</th>
      <th>Joined</th>
    </tr>
  </thead>
  {% endcomment %}
{% for page in pages %}
  <tr>
    <td><a href="{{ page.url }}" class="internal-link">{{ page.title }}</a></td>
    <td class="mh"><a href="https://{{ page.domain }}/packaging" target="_blank" class="muted">{{ page.domain }}/packaging</a></td>
    <td>{% for tag in page.tags %}
          <a href="/{{ site.tag_page_dir }}/{{ tag | slugify: 'pretty' }}/" class="tag">{{ tag }}</a>
      {% endfor %}</td>
  </tr>
{% endfor %}
</table>