---
layout: default
---

<article>
  <div>
    <h1>{{ page.title }}</h1>
    <table class="sst" style="max-width:20em">
      <tr>
        <td class="muted">Joined</td>
        <td>{{ page.date | date: "%Y-%m-%d" }}</td>
      </tr>
      <tr>
        <td class="muted pr">Website</td>
        <td><a href="https://{{ page.domain }}/packaging?ref=slashpackaging" target="_blank">{{ page.domain }}/packaging</a></td>
      </tr>
      {% if page.tags.size > 0 %}
      <tr>
        <td class="muted">Tags</td>
        <td class="tags">
        {% for tag in page.tags %}
            <a href="/{{ site.tag_page_dir }}/{{ tag | slugify: 'pretty' }}/" class="tag">#{{ tag }}</a>
        {% endfor %}
        </td>
      </tr>
      {% endif %}
    </table>
    <content>
      {{ content }}
    </content>
  </div>
</article>
